@import url('http://fonts.cdnfonts.com/css/hastan-signature');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('http://fonts.cdnfonts.com/css/poppins');

body {

    font-family: 'Gilroy-Regular', sans-serif;
}

.main-section {
    background-color: #151516;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Gilroy-Bold', sans-serif;
    margin-bottom: 0;
}

.logout-btn {
    display: flow-root;
    /*align-items: center;*/
    /*justify-content: end;*/
}


.logout-btn button {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #ff5c5c;
    padding: 10px 50px;
    font-weight: bold;
}

.home-main .detail-box-left {
    background-color: #272728;
    color: #fff;
    border-radius: 10px;
    padding: 25px 40px;
}

.home-main .detail-box {
    background-color: #383839;
    border-radius: 10px;
    padding: 15px 20px;
    color: #fff;
    height: 100%;
}

.home-main .detail-def span {
    color: #ffffff5c;
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

.home-main .upload {
    background-color: #fff;
    color: #000;
    width: 60px;
    height: 60px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
}

.home-main .color-box {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}

.home-main .select-color span {
    color: #fff;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 13px;
}

.home-main .banner {
    background-color: #272728;
    border-radius: 10px;
    padding: 15px 25px;
}

.home-main .banner-header {
    color: #fff;
}

.home-main .banner-header h5 {
    font-weight: 600;
}

.upload-btn {
    font-weight: 100;
    color: #fff;
    background-color: #2f2f30;
    border-radius: 50px;
    font-size: 11px;
    padding: 8px 20px;
    border: none;
}

.home-main .box-main {
    /*flex-wrap: wrap;*/
}

.home-main .banner-box {
    background-color: #383839;
    width: 120px;
    height: 50px;
    border-radius: 10px;
}

.home-main .notify-main {
    background-color: #272728;
    border-radius: 10px;
    padding: 20px;
    color: #ffff;
}

.home-main .notify-main h5 {
    font-weight: 600;
}

.home-main .white-box {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: #fff;
}

.home-main .notify-main span {
    font-size: 14px;
}

.gap-con {
    column-gap: 30px;

}

.gap-con .white-box {
    width: 80px !important;
}

.gap-con span {
    width: calc(100% - 80px);
}

.home-main .notify-main p {
    font-size: 10px;
    color: #ffffff52;
    margin-top: 10px;
    font-weight: 300;
}

.home-main .notyfy-box {
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff52;
}

.home-main .request-box {
    border: 2px solid #ffffff24;
    padding: 15px;
    border-radius: 10px;
}

.home-main .request-box span, .home-main .total-img-box span {
    color: #ffffff54;
    font-weight: 100;
}

.home-main .total-img-box {
    background-color: #383839;
    border-radius: 10px;
    padding: 15px;
}

.home-main .guest-id {
    background-color: #272728;
    color: #fff;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
}

.home-main .mehendi-box {
    background-color: #2f2f30;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.home-main .gallary-mini {
    position: absolute;
    right: 0;
    bottom: 40px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background: rgb(255, 98, 105);
    background: linear-gradient(90deg, rgba(255, 98, 105, 1) 0%, rgba(255, 58, 48, 1) 100%);
}

.home-main .gallary-mini span {
    font-size: 12px;
    color: #ffffff90;
}

.home-main .gallary-mini h6 {
    font-size: 14px;
}

.home-main .toggle-btn {
    background-color: transparent;
    border: none;
    outline: none;
}

.text-light-white {
    color: #ffffff24;
}

.home-main .mehendi-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-main .venue-box span {
    font-size: 14px;
    display: block;
    font-weight: 100;
    color: #ffffff70;
}

.gallary-sec {
    background-color: #202020;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
}

.gallary-sec-main .gall-header h5 {
    font-weight: 600;
}

.gallary-sec-main .gallery-menu {
    background-color: #292929;
    padding: 15px 30px;
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: auto;
}

.gallary-sec-main .gallery-menu ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 50px;
    padding: 0;
    margin: 0;
}

.gallary-sec-main .gallery-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    padding: 20px 10px !important;
    font-family: 'Gilroy-Bold', sans-serif;
    color: #ffffff40;
}

.gallary-sec-main .gallery-menu ul li a.active {
    color: #fff;
}

.gallary-sec-main .upload-div {
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid #ffffff40;
    margin: 10px 0;
    padding: 10px 0;
}

.gallary-sec-main .box-g {
    background-color: #313131;
    border-radius: 10px;
    height: 200px;
}

@media (max-width: 425px) {
    .banner-header {
        flex-direction: column;
    }
}

@media (max-width: 328px) {
    .box-main {
        justify-content: center !important;
    }
}


.modal .guest-id .guest-id-box span {
    font-size: 13px;
}

.modal .guest-id .guest-id-box:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
}

#notification_id .notfound {
    line-height: 548px !important;
}

.modal .guest-id .guest-id-box:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.modal .guest-id .guest-id-box p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.384);
    font-weight: 100;
}

.modal .select-color {
    background-color: #333333;
    border-radius: 5px;
    padding: 15px;
}

.modal .select-color span {
    font-size: 14px;
}

.modal .darck {
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
}

.modal .primary span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.342);
    font-weight: 100;
}

.secondary {
    background: rgb(255, 96, 103);
    background: linear-gradient(
            90deg,
            rgba(255, 96, 103, 1) 0%,
            rgba(255, 55, 44, 1) 100%
    );
}

.save {
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    color: #fff;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 30px;
    background-color: #e9e9ea;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.switch-btn::before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 4px;
    top: 3px;
    bottom: 4px;
    border-radius: inherit;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    transition: 0.4s ease all, left 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.switch-btn:active:before {
    width: 40px;
}

.checkbox:checked + .switch-btn {
    background-color: lightgreen;
    box-shadow: 0 0 8px 0 lightgreen;
}

.checkbox:checked + .switch-btn::before {
    left: calc(100% - 4px);
    transform: translateX(-100%);
}

.modal {
    color: #fff;
}

.modal .modal-content {
    background-color: #202020;
    /* overflow: auto;
    height: 600px; */
}

.modal .modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal .img-counter {
    background: rgb(255, 96, 103);
    background: linear-gradient(
            90deg,
            rgba(255, 96, 103, 1) 0%,
            rgba(255, 55, 44, 1) 100%
    );
    padding: 12px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.modal .img-counter p {
    font-size: 12px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.603);
}

.modal .img-counter span {
    font-size: 13px;
    margin-top: -2px;
    display: block;
}

.material-textfield {
    position: relative;
}

.modal .input-text {
    position: absolute;
    font-size: 13px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #202020;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: 0.1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}

.modal input {
    font-size: 14px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.274);
    border-radius: 5px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    transition: 0.1s ease-out;
    width: 100%;
}

.modal input:focus {
    border-color: #ffffff;
}

.modal input:focus + .input-text {
    color: #ffffff;
    top: 0;
    font-size: 11px;
    transform: translateY(-50%) scale(0.9);
}

.modal input:not(:placeholder-shown) + .input-text {
    top: 0;
    transform: translateY(-50%) scale(0.9);
}

.modal .login {
    background-color: #292929;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

.bg-span {
    background-color: #292929 !important;
}

.guest-id {
    background-color: #333333;
    border-radius: 5px;
    padding: 15px;
}

.ouload-file[type="file"] {
    background-color: transparent !important;
}

.colorpikar {
    width: 10px !important;
    height: 10px !important;
    background-color: red !important;
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    border-radius: 50% !important;
}

.font {
    font-family: "Hastan Signature", Courier !important;
    color: red !important;
    font-size: 12pt !important;
}

.superadmin .superadmin-header {
    color: #fff;
    padding: 20px 40px;
    display: flex;
    align-items: center;
}

.superadmin .superadmin-header span {
    font-weight: 200;
}

.superadmin .superadmin-header h5 {
    font-weight: 800;
}

.superadmin .superadmin-header input {
    border: 1px solid rgba(255, 255, 255, 0.199);
    border-radius: 50px;
    background-color: transparent;
    padding: 8px 20px;
    outline: none;
    color: #fff;
}

.superadmin .superadmin-header input::-webkit-input-placeholder {
    color: #fff;
    font-weight: 200;
    font-size: 14px;
}

.marriage {
    background-color: #383839;
    color: #fff;
    border-radius: 50px;
    padding: 12px 30px;
    border: 0;
    font-weight: 200;
    font-size: 14px;
}

.superadmin .search-main {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.superadmin .table-main {
    padding: 0 15px;
}

.superadmin .admin-table {
    padding: 0 40px;
    background-color: #383839;
    padding: 20px;
    border-radius: 10px;
}

.superadmin .admin-table span {
    color: #fff;
    font-weight: 400;
}

.superadmin .admin-table table thead tr th {
    color: rgba(255, 255, 255, 0.336);
    padding: 15px 20px;
    font-weight: normal !important;
    font-size: 18px;
    font-family: 'Gilroy-Bold', sans-serif;
    white-space: nowrap;
}

.superadmin .admin-table table thead tr th {
    color: white;
}

.body-light .main-section, .body-light .superadmin .admin-table table thead tr th, .body-light .back, .body-light .approveall_guest {
    background: #f3f3f7 !important;
    color: black;
}

.superadmin .admin-table table thead tr th:first-child {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.superadmin .admin-table table thead tr th:last-child {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.superadmin .admin-table table thead tr th {
    background-color: #404041;
    /*border-radius: 10px;*/
}

.superadmin .admin-table table tbody tr td {
    vertical-align: middle;
    color: #fff;
    font-size: 18px;
    padding: 0.75rem 1.5rem !important;
    font-weight: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.486);
    white-space: nowrap;
}

.superadmin .admin-table table tbody tr td a {
    color: #fff;
}

.superadmin .admin-table table tbody tr:hover {
    background-color: #252525;
}

.status-btn button {
    border: none;
    background-color: transparent;
    outline: none;
    background-color: rgb(11, 199, 11);
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

.bg-red {
    background-color: red !important;
}

.anable-btn {
    width: 170px;
    border-radius: 50px;
    height: 20px;
    background-color: #4f4f52;
}

.select-text {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #292929;
    font-size: 13px;
    width: 100px;
    text-align: center;
    color: #ffffff52;
}

.outfit-box {
    background-color: #3a3a3a;
    border-radius: 8px;
    height: 80px;
}

.dropdown dt a:hover {
    color: #fff;
    /*border: 1px solid #d0c9af;*/
}

.dropdown dt a {
    /*background: #e4dfcb url('http://www.jankoatwarpspeed.com/wp-content/uploads/examples/reinventing-drop-down/arrow.png') no-repeat scroll right center;*/
    display: block;
    padding-right: 20px;
    border: 1px solid transparent;
    width: 150px;
}

.dropdown dt a span {
    cursor: pointer;
    display: block;
    padding: 5px;
}

.dropdown dd ul {
    background: #252525 none repeat scroll 0 0;
    border: 1px solid transparent;
    color: white;
    display: none;
    left: 0px;
    padding: 5px 0px;
    position: absolute;
    top: 2px;
    width: auto;
    min-width: 150px;
    list-style: none;
}

.dropdown span.value {
    display: none;
}

.dropdown dd ul li a {
    padding: 5px;
    display: block;
}

.dropdown dd ul li a:hover {
    background-color: rgba(68, 67, 67, 0.84);
}

.dropdown img.flag {
    border: none;
    vertical-align: middle;
    margin-left: 10px;
}

.flagvisibility {
    display: none;
}

.dropdown dd li b, .dropdown dt b {
    display: flex;
    margin-left: 38px;
    position: relative;
}

b.dark:before {

    background: black;
}

b.white:before {
    background: white;
}

b.secondary1:before {

    background: linear-gradient(
            90deg, rgba(255, 96, 103, 1) 0%, rgba(255, 55, 44, 1) 100%);
}

.dropdown dd li b:before, .dropdown dt b:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: -27px;
    border-radius: 50%;
    bottom: 3px;
}

select.marriage {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.select-ver .scroll-hro {
    margin: 10px;
}

.select-ver {
    position: relative;
    display: flex;
    overflow-x: scroll;
}

.detail-def .upload-btn, #count_inv {
    display: inline-block;
}

/*user*/

.gallary-main {
    background-color: #202020;
    border-radius: 10px;
}

.gallary .gallary-header {
    color: #fff;
}

.gallary .gallary-header span {
    color: rgba(255, 255, 255, 0.712);
    /*font-weight: 300;*/
    font-family: 'Gilroy-Regular', sans-serif;
}

.gallary .right-menu {
    background-color: #292929;
    padding: 15px 30px;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.gallary .left-menu {

    justify-content: unset;
}


.gallary .right-menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 40px;
}

.gallary .right-menu ul li button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    padding: 10px 20px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 0;
    font-family: 'Gilroy-Bold', sans-serif;
    border: none;
    background-color: transparent;
}

.gallary .right-menu ul li button.active {
    /*text-decoration: underline;*/
    color: white !important;
}

.gallary .right-menu ul li button:disabled {
    color: rgba(255, 255, 255, 0.425);
}

.gallary .box1 {
    background-color: #313131;
    height: 180px;
    border-radius: 5px;
    position: relative;
}

.gallary .box1 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.right-mark {
    right: 20px !important;
}

.gallary .list-box {
    margin-top: 20px;
}

.gallary .minus,
.gallary .check-mark {
    background-color: #b51023;
    border-radius: 50%;
    border: none;
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    top: -10px;
    right: -10px;
    color: #fff;
}

.notfound {
    text-align: center !important;
}

/*scrollbar*/
*::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */

}

*::-webkit-scrollbar-track {
    background: #202020; /* color of the tracking area */
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: white; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #202020; /* creates padding around scroll thumb */
}

.toggle-btn-main {
    position: relative;
}

.d-bt-m {
    /* position: relative; */
    text-align: center;
    display: none;
    position: absolute;
    border-radius: 5px;
    width: 120px;
    right: 20px;
    background: #151516;
    color: white;
    top: 0;
    font-size: 14px;
    padding: 10px;
}

.d-bt-m a {
    text-decoration: none !important;
}

.d-bt-m div {
    color: white !important;
    padding: 7px;
    font-weight: bold !important;
    text-transform: capitalize !important;
    text-decoration: none;
}

.d-bt-m div:hover {
    color: #ffffff70 !important;
}

.toggle-btn-main:hover > .d-bt-m {
    display: block;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* light theme */
.body-light,
.body-light .notify-main,
.body-light .superadmin,
.body-light .guest-id {

    background-color: #f3f3f7 !important;
    color: #000 !important;
}

.body-light .home-main .notyfy-box {
    border-radius: 5px;
}

.body-light *::-webkit-scrollbar-track {
    background: #efefef !important; /* color of the tracking area */
}

.body-light *::-webkit-scrollbar-thumb {
    background-color: white; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid transparent !important; /* creates padding around scroll thumb */
}

.notfound {
    color: white;
}

.dropdown dt {
    padding: 5px 13px 5px 0px !important;
    background: #202020 !important;
    border-radius: 33px;
}

.body-light .home-main .notyfy-box {
    padding: 5px;
}

.body-light .detail-box-left,
.body-light .guest-id,
.body-light .banner,
.body-light .notify-main,
.body-light .total-img-box,
.body-light .anable-btn,
.body-light .admin-table table thead tr,
.body-light .modal .select-color,
.body-light select.marriage,
.body-light .gallary-header,
.body-light .gallary-header span,
.body-light .gallary-sec,
.body-light .superadmin .admin-table,
.body-light .gallary-main, .body-light .home-main .notyfy-box {
    background-color: #fff !important;
    /*color: #fff !important;*/
    color: #000 !important;

}

.body-light .home-main .notyfy-box {
    border-bottom: 1px solid #f3f3f7 !important;
}


.body-light .request-box, .body-light .request-box span,
.body-light .total-img-box, .body-light .total-img-box span {
    border-color: #f3f3f7 !important;
    color: black;
}

.home-main .notyfy-box
.body-light .banner h5,
.body-light .superadmin h5,
.body-light .home-main .banner-header,
.body-light .modal .modal-content,
.body-light .home-main .notify-main p,
.body-light .notfound,
.body-light .superadmin .superadmin-header {
    color: #000 !important;
}

.body-light .dropdown dt {
    padding: 5px 13px 5px 0px !important;
    background: #f1edee !important;
    border-radius: 33px;
}

.body-light .detail-box, .body-light .mehendi-box, .body-light .box-g,
.body-light .admin-table1 > span,
.body-light .gallary-sec-main,
.body-light .gallery-menu {
    background-color: transparent !important;
    border: 1px solid #f3f3f7;
    color: #000 !important;
}

.body-light .gallary-sec-main .gallery-menu {
    background: #f3f3f7 !important;
}

.body-light .gallary-sec-main .upload-div {
    border-color: #f3f3f7 !important;
}

.body-light .home-main .notyfy-box .white-box,
.body-light .right-menu.left-menu, .body-light .d-bt-m {
    background: #f3f3f7;
}

.body-light .right-menu.left-menu .feed_s {
    color: gray !important;
}

.body-light .right-menu.left-menu .feed_s.active {
    color: black !important;
}

.body-light .table-responsive, .body-light .table-responsive {
    color: #000 !important;
    border-radius: 5px;
}

.body-light .upload-btn {
    background: white !important;
    color: black !important;
    border: 1px solid black;
}

.body-light .logout-btn button {
    background: white !important;
    border: 1px solid black;
}

.body-light .detail-box span,
.body-light .mehendi-box span,
.body-light .mehendi-box h6,
.body-light .mehendi-box button,
.body-light .notify-box p,
.body-light .gallery-menu ul li a.active,
.body-light .admin-table table thead tr th,
.body-light .admin-table table tbody tr td,
.body-light .admin-table table tbody tr td span,
.body-light .superadmin .admin-table span,
.body-light .modal-title span,
.body-light .dropdown dd li b, .body-light .dropdown dt b, .body-light .d-bt-m div {
    color: #000 !important;
}

.body-light .gallery-menu ul li a, .body-light .d-bt-m div:hover {
    color: gray !important;
}

.body-light .mehendi-box .gallary-mini span, .body-light .mehendi-box .gallary-mini h6, .body-light .modal .img-counter span {
    color: white !important;
}

.body-light .modal input,
.body-light .modal .login,
.body-light .total-img-box {
    border: 1px solid rgb(0 0 0 / 27%) !important;
    background-color: #efefef !important;
    color: black;
}

.body-light .modal .input-text, .body-light .modal .select-text {
    border: 1px solid transparent !important;
    background-color: #efefef !important;
    color: black !important;
}

.body-light .banner-box,
.body-light .superadmin .admin-table table tbody tr:hover,
.body-light .admin-table table thead tr,
.body-light .dropdown dd ul {
    background-color: #dcdcdf !important;
}

.body-light ::-webkit-calendar-picker-indicator {
    filter: unset;
}

/*.body-light .logout-btn {*/
/*    background-color: #efefef;*/
/*}*/

.body-light .outfit-box {
    background: white;
}

.body-light .modal input.colorpikar {
    background-color: red !important;
}

.body-light .modal.fade.show, .body-light .modal .modal-content {
    background: #f1ededd9 !important;
}

.black-box {
    background-color: #252525;
}

.theme1:before {
    background: linear-gradient(#0EFFD4, #0076D0) !important;
}

.theme2:before {
    background: linear-gradient(#08F5FF, #D914F4) !important;
}

.theme3:before {
    background: linear-gradient(#FF0F87, #4612CC) !important;
}

.theme4:before {
    background: linear-gradient(#FF191D, #043E9F) !important;
}

.theme5:before {
    background: linear-gradient(#FF161B, #580DBF) !important;
}

.theme6:before {
    background: linear-gradient(#08F5FF, #580DBF) !important;
}

.theme7:before {
    background: linear-gradient(#FF1BC6, #0066A6) !important;
}

.theme8:before {
    background: linear-gradient(#FFAC1B, #E10B90) !important;
}

.theme9:before {
    background: linear-gradient(#FF161B, #A810B3) !important;
}

.theme10:before {
    background: linear-gradient(#00FFB4, #0F2FFF) !important;
}

.theme11:before {
    background: linear-gradient(#FF1B1B, #0A34D4) !important;
}

/**/
.fixsize {
    height: 662px !important;
    overflow-y: scroll;
}

.box-main {
    height: 89px !important;
    overflow-y: hidden;
}

#event_display {
    height: 618px;
    overflow-y: scroll;
}

#gallery_image {
    height: 450px;
    overflow-y: scroll;
}

/*.table-responsive #display_gest {*/
/*    height: 600px;*/
/*    overflow-y: scroll;*/
/*}*/

.text-left {
    text-align: left !important;
}

.gallary-sec-main .box-g img {
    border-radius: 10px;
}

.bg-div {
    border-radius: 10px;
    background-color: #202020 !important;
}

#banner_display .notfound {
    line-height: 80px !important;
}

#event_display .notfound {
    line-height: 598px !important;
}

#gallery_image .notfound {
    line-height: 450px !important;
}

#display_gest .notfound {
    line-height: 494px !important;
    font-size: 24px !important;
}

.body-light .bg-div {
    background: white !important;
}

.body-light .table-responsive {
    background: white !important;
}

.body-light .superadmin-header h4 {
    color: black;
}

.body-light #marriage_gest {
    background-color: #f3f3f7 !important;
}

.modal-body {
    padding: 30px !important;
}

.gap-con, .gap-con + p {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    height: 13px;
}

.gallary-header h4 {
    font-weight: bold;
}

.d-guest, .showfeeed, .guest-id, .showimage {
    cursor: pointer !important;
}

.content1 input  {
    cursor: default !important;
}
input::-webkit-color-swatch {
    border: none !important;
}
/* When the checkbox is checked, add a blue background */
.content1 input:checked ~ .checkmark {
    position: absolute;
    right: 24px;
    top: 0px;
    border: 0px !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "\f058";
    color: white;
    left: 17px;
    /* right: 5px !important; */
    position: absolute;
    top: -2px;
    display: none;
    font-family: "Font Awesome 5 free";
}

.body-light .checkmark:after {
    color: black !important;
}

/* Show the checkmark when checked */
.content1 input:checked ~ .checkmark:after {
    display: block;
}

.checkmark {
    display: block;
    width: 13px;
    height: 14px;
    top: 4px;
    position: absolute;
    border: 1px solid;
    right: 6px;
    border-radius: 3px;
}

.body-light .dropdown dt b:before {
    border:1px solid gray !important;
}
